boto3==1.20.47
botocore==1.23.47
brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.27
dl==0.1.0
docutils==0.18.1
graph_tool==2.11
h5py==3.6.0
HTMLParser==0.0.2
importlib_metadata==4.10.1
keras==2.8.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
mock==4.0.3
monotonic==1.6
numpy==1.22.1
ordereddict==1.1
pandas==1.4.0
Pillow==9.0.1
protobuf==3.19.4
pyOpenSSL==22.0.0
scikit_learn==1.0.2
simplejson==3.17.6
tensorflow==2.8.0
tornado==6.1
tqdm==4.62.3
unicodedata2==14.0.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.7.0
