boto3==1.20.47
botocore==1.23.47
brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.27
dl==0.1.0
docutils==0.18.1
h5py
HTMLParser==0.0.2
importlib_metadata==4.8.3
keras==2.8.0
keyring==23.4.1
lockfile==0.12.2
lxml==4.7.1
mock==4.0.3
monotonic==1.6
numpy==1.19.5
ordereddict==1.1
pandas
Pillow==8.4.0
protobuf==3.19.4
pyOpenSSL==22.0.0
scikit_learn
simplejson
tensorflow==2.4.0
tornado
tqdm
unicodedata2
wincertstore
zipp
graph-tools
